.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
}

.summary-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 28%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid #ecececbd;
    margin-bottom: 15px;
}

.summary-value {
    font-size: 35px;
    font-weight: bold;
}

.charts {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 20px;
    height: 300px;
}

.chart {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 48%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid #ecececbd;
}
.donut-chart {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    width: 24%;
    height: 100%;
    margin-left: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid #ecececbd;
 
}